* {
	margin: 0;
	padding: 0;	
}

.about-wrapper, .projects-wrapper, .endangered-project, .simon-project, cache-project {
	display: none;
}

a {
	color: white;
}

.main {
	align-content: flex-start;
	display: flex;
	flex-wrap: wrap;
	height: 100vh;
	justify-content: center;
	width: 100%;
}

.nav-and-contact-viewer {
	display: flex;
	height: 35vh;
	width: 100%;
}

.nav {
	align-items: center;
	display: flex;
	font-family: 'Permanent Marker', cursive;
	font-size: 200%;
	justify-content: center;
	width: 55%;
}

.about-button, .projects-button, .contact-button {
	align-items: center;
	background-color: black;
	border-radius: 18%;
	box-sizing: border-box;
	color: white;
	display: flex;
	height: 60px;
	justify-content: center;
	margin: 2%;
	padding: 5px;
	width: 200px;
}

.name {
	display: flex;
	font-family: 'Viga', sans-serif;
	height: 300px;
	justify-content: center;
	width: 100%;
}

.name-letter {
	font-size: 1500%;
	height: 100%;
	position: relative;
}

.title-wrapper {
	display: flex;
	font-family: 'Permanent Marker', cursive;
	font-size: 300%;
	height: 25vh;
	justify-content: flex-end;
	width: 80%;
}


.about-viewer {
	display: none;
}

.show-about-viewer {
	height: 100vh;
	width: 100%;
}

.about-outer {
	height: 300px;
	position: relative;
	width: 120px;
}

.about {
	align-items: space-around;
	border: black solid 29px;
	border-radius: 40%;
	display: flex;
	flex-wrap: wrap;
	height: 83px;
	justify-content: center;
	left: 0px;
	margin-bottom: 10vh;
	overflow: hidden;
	position: relative;
	top: 82px;
	width: 54px;
	-moz-transition: height 0.3s linear 1s, width 0.3s linear 1s, top 1s, left 0.3s linear 1s, border-radius 0.3s linear 1s;
	-o-transition: height 0.3s linear 1s, width 0.3s linear 1s, top 1s, left 0.3s linear 1s, border-radius 0.3s linear 1s;
	-webkit-transition: height 0.3s linear 1s, width 0.3s linear 1s, top 1s, left 0.3s linear 1s, border-radius 0.3s linear 1s;
	transition: height 0.3s linear 1s, width 0.3s linear 1s, top 2s, left 0.3s linear 1s, border-radius 0.3s linear 1s;
}

.about.about-expand { 
	border-radius: 5%;
	height: 80vh;
	left: -40vw;
	top: 100vh;
	width: 90vw;
}

.about.about-shrink { 
	border-radius: 40%;
	height: 83px;
	left: 0px;
	top: 82px;
	width: 54px;
	-moz-transition: height 1s, width 1s, top 2s, left 1s, border-radius 1s;
	-o-transition: height 1s, width 1s, top 2s, left 1s, border-radius 1s;
	-webkit-transition: height 1s, width 2s, top 1s, left 1s, border-radius 1s;
	transition: height 1s, width 1s, top 2s, left 1s, border-radius 1s;
}

.about-close {
	background-color: white;
	display: flex;
	height: 30px;
	justify-content: center;
	position: absolute;
	text-align: center;
	width: 100%;
}

.about-close-button {
	background-color: black;
	border-radius: 0 0 25% 25%;
	color: white;
	font-size: 125%;
	width: 10%;
}

span {
	font-style: italic;
}

.listing-wrapper {
	display: flex;
	flex-wrap: wrap;
	height: 80%;
	justify-content: space-around;
	overflow: scroll;
	width: 100%;
}

.about-listing {
	box-sizing: border-box;
	font-family: viga;
	font-size: 1.2em;
	padding-top: 2%;
	text-align: center;
	width: 90%;
}

.full-name {
	font-family: 'Permanent Marker', cursive;
	font-size: 300%;
	margin: 4% 0 1% 0;
	text-align: center;
	width: 100%;
}


.projects-viewer {
	height: 0vh;
	transition: height 1s;
}

.projects-viewer.showprojects{
	height: 100vh;
	width: 100%;
}

.projects-outer {
	height: 300px;
	position: relative;
	width: 65px;
}

.projects {
	background-color: black;
	height: 180px;
	left: 0px;
	margin: 0 15px;
	overflow: hidden;
	position: relative;
	top: 40px;
	width: 32px;
	-moz-transition: height 0.3s linear 1s, width 0.3s linear 1s, top 2s, left 0.3s linear 1s;
	-o-transition: height 0.3s linear 1s, width 0.3s linear 1s, top 2s, left 0.3s linear 1s;
	-webkit-transition: height 0.3s linear 1s, width 0.3s linear 1s, top 2s, left 0.3s linear 1s;
	transition: height 0.3s linear 1s, width 0.3s linear 1s, top 2s, left 0.3s linear 1s;
}

.projects.projects-expand { 
	height: 90vh;
	left: -50vw;
	top: -130vh;
	width: 90vw;
}

.projects.projects-shrink { 
	height: 180px;
	left: 0px;
	top: 40px;
	width: 32px;
	-moz-transition: height 1s, width 1s, top 2s, left 1s;
	-o-transition: height 1s, width 1s, top 2s, left 1s;
	-webkit-transition: height 1s, width 1s, top 2s, left 1s;
	transition: height 1s, width 1s, top 2s, left 1s;
}

.projects-nav {
	padding-left: 5%;
}
.projects-close {
	display: flex;
	height: 30px;
	justify-content: flex-end;
	position: relative;
	text-align: center;
	width: 100%;
}

.projects-close-button {
	background-color: white;
	border-radius: 0 0 25% 25%;
	font-size: 125%;
	margin: 2px 10px 0 0 ;
	width: 10%;
}

.project-listing {
	color: gray;
	display: flex;
	font-size: 1.5em;
	width: 100%;
}

.project-listing:hover{
	color: white;
}

.project-info {
	display: flex;
	flex-wrap: wrap;
	height: 75%;
}

.project-image, .description {
	box-sizing: border-box;
	height: 100%;
	padding: 5%;
	width: 50%;
}

.project-image img {
	height: 100%;
	width: 100%;
}

.description {
	height: 500px;
}

.blurb {
	color: white;
	font-size: 1.5em;
}

.project-links {
	color: white;
	font-size: 1.1em;
	padding-top: 5%;
	width: 100%;
}

.project-links p {
	padding: 1% 0;
}

.studii, {
	color: white;
}

.studii-project, .endangered-project, .simon-project, .cache-project {
	display: none;
}


.contact-viewer {
	align-items: center;
	display: flex;
	width: 45%;
}
.contact-outer {
	height: 300px;
	position: relative;
	width: 65px;
}

.contact {
	background-color: black;
	height: 120px;
	margin: 0 15px;
	position: relative;
	top: 100px;
	width: 32px;
}

.contact-item {
	box-sizing: border-box;
	display: flex;
	height: 50px;
	left: 13px;
	position: absolute;
	top: 50px;
	width: 800%;
	-moz-transition: top 1s;
	-o-transition: top 1s;
	-webkit-transition: top 1s;
	transition: top 1s;
}

.email.contact-expand {
	top: -30vh;
}

.resume.contact-expand {
	top: -22vh;
}

.linkedin.contact-expand {
	top: -14vh;
}

.github.contact-expand {
	top: -6vh;
}

.email.contact-shrink {
	top: 50px;
}

.resume.contact-shrink {
	top: 50px;
}

.linkedin.contact-shrink {
	top: 50px;
}

.github.contact-shrink {
	top: 50px;
}

.bulletpoint {
	background-color: black;
	border-radius: 12px;
	height: 35px;
	width: 35px;
}

.contact-link {
	font-family: 'Permanent Marker', cursive;
	font-size: 150%;
	overflow: hidden;
	padding-left: 5%;
	width: 0%;
	-moz-transition: width 0.7s ease .6s;
	-o-transition: width 0.7s ease .6s;
	-webkit-transition: width 0.7s ease .6s;
	transition: width 0.7s ease .6s;	
}

.contact-link.show-link {
	width: 80%;
}

.contact-link.hide-link{
	-moz-transition-delay: 0s;
	-o-transition-delay: 0s;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.contact-link a {
	color: black;
}

.contact-close {
	font-size: 20px;
	margin: 10px 10px;
	text-decoration: underline;
}

.showme {
	display: block;
}

.showflex {
	display: flex;
}

.white{
	color: white;
}





