* {
	margin: 0;
	padding: 0;	
}

.about-wrapper, .projects-wrapper, .endangered-project, .simon-project, cache-project {
	display: none;
}

a {
	color: white;
}

.main {
	align-content: flex-start;
	display: flex;
	flex-wrap: wrap;
	height: 100vh;
	justify-content: center;
	width: 100%;
}

.nav-and-contact-viewer {
	display: flex;
	height: 35vh;
	width: 100%;
}

.nav {
	align-items: center;
	display: flex;
	font-family: 'Permanent Marker', cursive;
	font-size: 200%;
	justify-content: center;
	width: 55%;
}

.about-button, .projects-button, .contact-button {
	align-items: center;
	background-color: black;
	border-radius: 18%;
	box-sizing: border-box;
	color: white;
	display: flex;
	height: 60px;
	justify-content: center;
	margin: 2%;
	padding: 5px;
	width: 200px;
}

.name {
	display: flex;
	font-family: 'Viga', sans-serif;
	height: 40vh;
	justify-content: center;
	width: 100%;
}

.name-letter {
	font-size: 1500%;
	height: 100%;
	position: relative;
}

.title-wrapper {
	display: flex;
	font-family: 'Permanent Marker', cursive;
	font-size: 300%;
	height: 25vh;
	justify-content: flex-end;
	width: 80%;
}


.about-viewer {
	display: none;
}

.show-about-viewer {
	height: 100vh;
	width: 100%;
}

.about-outer {
	height: 300px;
	position: relative;
	width: 120px;
}

.about {
	align-items: space-around;
	border: black solid 29px;
	border-radius: 40%;
	display: flex;
	flex-wrap: wrap;
	height: 83px;
	justify-content: center;
	left: 0px;
	margin-bottom: 10vh;
	overflow: hidden;
	position: absolute;
	top: 82px;
	width: 54px;
	-moz-transition: height 1.5s, width 1.5s, top 1s, left 1.5s;
	-o-transition: height 1.5s, width 1.5s, top 1s, left 1.5s;
	-webkit-transition: height 1.5s, width 1.5s, top 1s, left 1.5s;
	transition: height 1.5s, width 1.5s, top 1s, left 1.5s;
}

.about.about-expand { 
	height: 80vh;
	left: -325%;
	top: 75vh;
	width: 750%;
}

.about.about-shrink { 
	height: 83px;
	left: 0px;
	top: 82px;
	width: 54px;
}

.about-close {
	font-size: 125%;
	height: 20px;
	margin-top: 1%;
	text-align: center;
	text-decoration: underline;
}

span {
	font-style: italic;
}

.listing-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;

}

.about-listing {
	box-sizing: border-box;
	font-family: viga;
	font-size: 150%;
	padding-top: 2%;
	text-align: center;
	width: 90%;
}

.full-name {
	font-family: 'Permanent Marker', cursive;
	font-size: 300%;
	margin: 2% 0;
}


.projects-viewer {
	height: 0vh;
	transition: height 1s;
}

.projects-viewer.showprojects{
	height: 100vh;
	width: 100%;
}

.projects-outer {
	height: 300px;
	position: relative;
	width: 65px;
}

.projects {
	background-color: black;
	height: 180px;
	left: 0px;
	margin: 0 15px;
	overflow: hidden;
	position: relative;
	top: 40px;
	width: 32px;
	-moz-transition: height 1s, width 1s, top 1s, left 1s;
	-o-transition: height 1s, width 1s, top 1s, left 1s;
	-webkit-transition: height 1s, width 1s, top 1s, left 1s;
	transition: height 1s, width 1s, top 1s, left 1s;
}

.projects.projects-expand { 
	height: 90vh;
	left: -1000%;
	top: -130vh;
	width: 1800%;
}

.projects.projects-shrink { 
	height: 180px;
	left: 0px;
	top: 40px;
	width: 32px;
}

.projects-nav {
	padding-left: 5%;
}
.projects-close {
	color: white;
	padding: 2% 2% 0 0;
	position: relative;
	left: 85%;
	text-align: right;
	text-decoration: underline;
	width: 10%;
}

.project-listing {
	color: gray;
	display: flex;
	font-size: 200%;
	width: 40%;
}

.project-listing:hover{
	color: white;
}

.project-info {
	display: flex;
	flex-wrap: wrap;
	height: 75%;
}

.image-and-links, .blurb {
	box-sizing: border-box;
	height: 100%;
	padding: 5%;
	width: 50%;
}

.project-image img {
	height: 100%;
	width: 100%;
}

.description {
	align-content: space-around;
	display: flex;
	flex-wrap: wrap;
	height: 500px;
}

.blurb {
	color: white;
	font-size: 200%;
}

.project-links {
	color: white;
	display: flex;
	font-size: 150%;
	justify-content: space-around;
	padding-top: 5%;
	width: 100%;
}

.project-links p {
	padding: 1% 0;
}

.studii, {
	color: white;
}

.studii-project, .endangered-project, .simon-project, .cache-project {
	display: none;
}


.contact-viewer {
	align-items: center;
	display: flex;
	width: 45%;
}
.contact-outer {
	height: 300px;
	position: relative;
	width: 65px;
}

.contact {
	background-color: black;
	height: 120px;
	margin: 0 15px;
	position: relative;
	top: 100px;
	width: 32px;
}

.contact-item {
	box-sizing: border-box;
	display: flex;
	height: 50px;
	left: 13px;
	position: absolute;
	top: 50px;
	width: 800%;
	-moz-transition: top 1s;
	-o-transition: top 1s;
	-webkit-transition: top 1s;
	transition: top 1s;
}

.email.contact-expand {
	top: -30vh;
}

.resume.contact-expand {
	top: -22vh;
}

.linkedin.contact-expand {
	top: -14vh;
}

.github.contact-expand {
	top: -6vh;
}

.email.contact-shrink {
	top: 50px;
}

.resume.contact-shrink {
	top: 50px;
}

.linkedin.contact-shrink {
	top: 50px;
}

.github.contact-shrink {
	top: 50px;
}

.bulletpoint {
	background-color: black;
	border-radius: 12px;
	height: 35px;
	width: 35px;
}

.contact-link {
	font-family: 'Permanent Marker', cursive;
	font-size: 150%;
	overflow: hidden;
	padding-left: 5%;
	width: 0%;
	-moz-transition: width 1s;
	-o-transition: width 1s;
	-webkit-transition: width 1s;
	transition: width 1s;	
	-moz-transition-delay: .5s;
	-o-transition-delay: .5s;
	-webkit-transition-delay: .5s;
	transition-delay: .5s;
}

.contact-link.show-link {
	width: 80%;
}

.contact-link.hide-link{
	transition-delay: 0s;
	-webkit-transition-delay: 0s;
}

.contact-link a {
	color: black;
}

.contact-close {
	font-size: 20px;
	margin: 10px 10px;
	text-decoration: underline;
}

.showme {
	display: block;
}

.showflex {
	display: flex;
}

.white{
	color: white;
}



/*MOBILE VERTICAL*/

@media only screen and (max-width: 480px) {
/*	.name-letter {
		color: red;
	}*/

	.about-button, .projects-button, .contact-button {
		border-radius: 18%;
		box-sizing: border-box;
		height: 30px;
		width: 100px;
	}

	.nav {
		display: block;
		font-size: 100%;
		justify-content: center;
		margin: 7% 0 0 5%;
		width: 55%;
	}

	.name {
		height: 20vh;
	}

	.name-letter {
		font-size: 500%;
	}

	.about-outer {
		width: 28px;
	}

	.about {
		height: 26px;
		width: 16px;
		border: black solid 10px;
		top: 27px;
	}

 	.about.about-expand { 
 		height: 60vh;
 		left: -390%;
 		top: 30vh;
 		width: 800%;
 	}

 	.full-name {
		font-size: 120%;
		margin-bottom: 10%;
	}

	.about-listing {
		font-size: 60%;
	}

 	.about.about-shrink { 
		height: 26px;
		left: 0px;
		top: 27px;
		width: 16px;
	}
	

	.projects-outer {
		width: 18px;
	}

	.projects {
		height: 70px;
		top: 5px;
		width: 12px;
	}

	.projects.projects-expand { 
		height: 85vh;
		left: -1000%;
		top: -130vh;
		width: 1700%;
	}

	.projects.projects-shrink { 
		height: 70px;
		top: 6px;
		width: 15px;
	}

	.project-listing {
		width: 80%;
	}

	.project-listing, .blurb {
		font-size: 90%;
	}

	.image-and-links, .blurb {
		width: 100%;
	}

	.title-wrapper {
		font-size: 100%;
		width: 60%;
	}

	.contact-outer {
		height: 300px;
		position: relative;
		width: 30px;
	}

	.contact {
		height: 35px;
		margin: 0 15px;
		top: 40px;
		width: 15px;
	}

	.contact-item {
		top: 10px;
	}

	.bulletpoint {
		border-radius: 3px;
		height: 15px;
		margin: 0 0 1px 1px;
		width: 15px;
	}

	.contact-item {
		font-size: 10px;
	}

	.email {
		font-size: 5px;
	}

	.contact-close {
		font-size: 10px;
		margin: 0 1px 10px 2px;
	}
}

/*MOBILE HORIZONTAL*/ 
@media (min-width: 481px) and (max-width: 767px) and (orientation: landscape){

	/*.name-letter {
		color: orange;
	}*/

	.about-button, .projects-button, .contact-button {
		border-radius: 18%;
		box-sizing: border-box;
		height: 30px;
		width: 100px;
	}

	.nav {
		font-size: 20px;
	}

 	.about.about-expand { 
 		height: 80vh;
 		left: -250%;
 		top: 70vh;
 		width: 650%;
 	}
	.about-listing {

	font-size: 70%;
	}

	.full-name {
		font-size: 120%;
		margin-bottom: 2%;
	}

	.name-letter {
	font-size: 1000%;
	}

	.about-outer {
	width: 70px;
}

	.about {
		height: 58px;
		width: 32px;
		border: black solid 20px;
		top: 49px;
	}

 	.about.about-shrink { 
	height: 58px;
	left: 0px;
	top: 49px;
	width: 32px;
	}
	

.projects-outer {
	width: 40px;
}

.projects {
	height: 130px;
	top: 18px;
	width: 22px;
}
.projects.projects-expand { 
	height: 80vh;
	left: -700%;
	top: -130vh;
	width: 1200%;
}

.projects.projects-shrink { 
	height: 130px;
	top: 18px;
	width: 22px;
}

.project-image img {
	height: 60%;
	width: 60%;
}


.project-listing, .blurb, .project-links {
	font-size: 100%;
}

.title-wrapper {
	font-size: 200%;
	width: 60%;
}

.contact-outer {
	width: 45px;
}
.contact {
	height: 68px;
	margin: 0 15px;
	top: 80px;
	width: 22px;
}

.bulletpoint {
	border-radius: 8px;
	height: 27px;
	margin: 0 0 2px 0;
	width: 27px;
}

.contact-close {
	margin: 0 0 1px 2px;
}

.email {
	font-size: 8px;
}

}
@media (min-width: 769px) and (max-width: 1024px) {

	/*.name-letter {
		color: yellow;
	}*/
/*	.name-letter {
	font-size: 1000%;
	}

	.about-outer {
	width: 80px;
}

	.about {
		height: 60px;
		width: 32px;
		border: black solid 20px;
		top: 47px;
	}*/
 	.about.about-expand { 
 		height: 70vh;
 		left: -400%;
 		top: 70vh;
 		width: 600%;
 	}
 /*	.about.about-shrink { 
	height: 60px;
	left: 0px;
	top: 47px;
	width: 32px;
	}*/
	.about-listing {

	font-size: 110%;
	}

.projects-outer {
	width: 50px;
}



.project-listing, .blurb {
	font-size: 125%;
}

.project-image {
	padding-left: 5%;
}

.project-image img {
	height: 80%;
	width: 80%;
}

 }
